@font-face {
  font-family: 'gen-interface-jp';
  src: url('/fonts/gen-interface-jp/subset/regular.ttf?v=0.8.0') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'gen-interface-jp';
  src: url('/fonts/gen-interface-jp/subset/medium.ttf?v=0.8.0') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'gen-interface-jp';
  src: url('/fonts/gen-interface-jp/subset/semibold.ttf?v=0.8.0') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'gen-interface-jp';
  src: url('/fonts/gen-interface-jp/subset/bold.ttf?v=0.8.0') format('truetype');
  font-weight: 700;
  font-display: swap;
}
